.algorithm-toggle {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.toggle-button {
    padding: 10px 15px;
    background-color: lightgray;
    border: 2px solid silver;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s;
}

.toggle-button.active {
    background-color: green;
    color: white;
    border-color: green;
}

.toggle-button:hover:not(.active) {
    background-color: gray;
}